<div
  class="pokemon-card"
  [ngClass]="[
    'type-' + pokemonType,
    'shadow-' + pokemonType,
  ]"
>
  <div class="pokemon-main">
    <img
      [src]="
        'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/' +
        pokemon?.id +
        '.svg'
      "
      alt="{{ pokemon?.name }}"
    />
    <div class="pokemon-main-info">
      <span class="pokemon-main-info__id"> #{{ pokemon?.id }}</span>
      <span class="pokemon-main-info__name">{{ pokemon?.name }}</span>
      @if (pokemon?.types?.length! > 0) {
        <div>
          @for (type of pokemon?.types; track $index) {
            <span class="pokemon-type">
              {{ type.type.name | titlecase }}
            </span>
          }
        </div>
      }
    </div>
  </div>

  <div class="pokemon-details">
    <p>
      <strong>Height</strong><span>{{ (pokemon?.height ?? 0) / 10 }} m</span>
    </p>
    <p>
      <strong>Weight</strong> <span>{{ (pokemon?.weight ?? 0) / 10 }} kg</span>
    </p>
  </div>
</div>
